<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobbile.paul.salesrepmobiletrader">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.mobbile.paul.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.mobbile.paul.ui.postorder.PostOrder"></activity>
        <activity android:name="com.mobbile.paul.ui.attendant.Agent" />
        <activity
            android:name="com.mobbile.paul.ui.orders.OrderSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.orders.Orders"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.orders.OrderEntry"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.message.UsersList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.mapoutlet.MapNewOutlet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.outletupdate.OutletUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.details.Details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.entryhistory.EntryHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.entries.Entries"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.attendant.Banks"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.attendant.Close"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.attendant.Resumption"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.salesviewpagers.SalesViewPager"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobbile.paul.ui.modules.Modules"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logoss" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="appx0f" />

        <service
            android:name="com.mobbile.paul.CloudMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.mobbile.paul.ui.login.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>